*{
    margin: 0;
}
body{
    display: grid;
    gap: 15px;
    grid-template-areas: 
    "head head head"
    "aside main main"
    "footer footer footer";
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 150px auto auto;
    background-color: blueviolet;
}
header{
    grid-area: head;
    background-color: aquamarine;
}
.nao{
    width: 75px;
}
main{
    grid-area: main;
    background-color: brown;
}
area{
    grid-area: aside;
    background-color: chocolate;
}
footer{
    grid-area: footer;
    background-color: olivedrab;
}
.nao2{
    width: 75px;
}
@media only screen and (max-width: 1000px) {
    body{
        grid-template-areas: 
        "head"
        "aside"
        "main"
        "footer";
        grid-template-columns: auto;
        grid-template-rows: auto 200px auto auto;
    }
}